
window.chromium {
  background-color: @chromium-bg-color;
}

headerbar.chromium {
  background-color: @chromium-headerbar-bg-color;
  background-image: initial;
  border-bottom: none;
}

headerbar.chromium:backdrop {
  background-color: @chromium-bg-color;
}

button.titlebutton.chromium {
  -gtk-icon-transform: scale(0.6667);
}

/* Omnibar background */
.view.chromium {
  background-color: @chromium-omnibar-bg-color;
}

/* Omnibar border */
entry.chromium {
  border: 1px solid @accent-bg-color;
}

/* Hack: toolbar bottom border */
button.chromium:not(.titlebutton) {
  border: 1px solid mix(@base-bg-color, @inverse-bg-color, 0.125);
}

menuitem.chromium:hover {
  background-color: mix(@menu-bg-color, @inverse-bg-color, 0.1875);
  color: @intense-fg-color;
}
