[Desktop Entry]
Comment=Haptic Dark
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;
Name=Haptic Dark
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Denis Göller
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Apache
X-KDE-PluginInfo-Name=haptic-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-fallbackPackage=org.kde.breezedark.desktop
X-Plasma-MainScript=defaults
