
* {
  -gtk-outline-radius: 4px;
}

/**********************************************************************
 * Windows
 **********************************************************************/

.csd > decoration {
  border-radius: 6px 6px 0 0;
}

.csd.maximized > decoration,
.csd.fullscreen > decoration {
  border-radius: 0;
}

/**********************************************************************
 * Headerbars
 **********************************************************************/

.csd headerbar.titlebar,
.csd headerbar:first-child,
.csd separator:first-child + headerbar {
  border-top-left-radius: 6px;
}

.csd headerbar.titlebar,
.csd headerbar:last-child {
  border-top-right-radius: 6px;
}

.csd.maximized headerbar.titlebar,
.csd.maximized headerbar:first-child,
.csd.maximized separator:first-child + headerbar,
.csd.fullscreen > decoration,
.csd.fullscreen headerbar.titlebar,
.csd.fullscreen headerbar:first-child,
.csd.fullscreen separator:first-child + headerbar {
  border-radius: 0;
}

/**********************************************************************
 * Rounded widgets
 **********************************************************************/

button.flat,
button.sidebar-button,
tabs > arrow,
toolbar button,
popover modelbutton,
scale.marks-before trough,
scale.marks-after trough,
scale.marks-before highlight,
scale.marks-after highlight,
.view rubberband,
.view .rubberband,
calendar:selected {
  border-radius: 2px;
}

button,
entry,
popover,
.csd menu,
.popup.csd,
.popup.csd > decoration,
tooltip.csd,
tooltip.csd > decoration,
.app-notification,
label.keycap {
  border-radius: 4px;
}

combobox > .csd > menu > menuitem:first-child,
combobox > .csd > menu > arrow.top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

combobox > .csd > menu > menuitem:last-child,
combobox > .csd > menu > arrow.bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

progressbar trough,
progressbar progress,
scrollbar slider,
scale trough,
scale highlight,
switch {
  border-radius: 9999px;
}

button.circular,
button.close,
button.flat.small-button,
button.titlebutton:not(.appmenu),
.app-notification button.flat.image-button, /* the 'X' */
scale slider,
switch slider {
  border-radius: 50%;
}

/**********************************************************************
 * Rectangular widgets
 **********************************************************************/

treeview header > button,
progressbar.osd progress,
.path-bar button {
  border-radius: 0;
}

/**********************************************************************
 * Linked widgets
 **********************************************************************/

.linked.horizontal > *:not(:first-child),
spinbutton.horizontal:dir(ltr) button,
spinbutton.horizontal:dir(rtl) button.down,
spinbutton.horizontal:dir(rtl) entry {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.linked.horizontal > *:not(:last-child),
spinbutton.horizontal:dir(ltr) entry,
spinbutton.horizontal:dir(ltr) button.down,
spinbutton.horizontal:dir(rtl) button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.linked.vertical > *:not(:first-child),
spinbutton.vertical entry,
spinbutton.vertical button.down {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linked.vertical > *:not(:last-child),
spinbutton.vertical entry,
spinbutton.vertical button.up {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.linked.vertical > spinbutton.horizontal:dir(ltr) entry,
.linked.vertical > spinbutton.horizontal:dir(rtl) button.up,
.linked.horizontal > spinbutton.vertical:not(:first-child) button,
.linked.horizontal > combobox:not(:first-child) button.combo {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.linked.vertical > spinbutton.horizontal:dir(ltr) button.up,
.linked.vertical > spinbutton.horizontal:dir(rtl) entry,
.linked.horizontal > spinbutton.vertical:dir(ltr):not(:last-child) button,
.linked.horizontal > combobox:not(:last-child) button.combo {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.linked.vertical > combobox:not(:first-child) button.combo {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linked.vertical > combobox:not(:last-child) button.combo {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Message dialog actions */

messagedialog .linked.horizontal.dialog-action-area > button {
  border-radius: 4px;
}
